/*mau trinh bai chung*/
.body {
  text-align: center;
}
body {
	margin-left:8% ;
	margin-right:8% ;
	margin-top: 50px;
	margin-bottom:5% ;
}

.border {
	border: 1px dotted black;
	padding: 2% 2% 2% 2%;
}
/*CSS Tutorial start*/
/*CSS position start*/
.relativePosition1{
	position: relative;
	border: 1px solid red;
	bottom: 20px;
	left: 30px;
}
.position2 {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: 2px solid green;
	text-align: center;
	background: rgba(76, 175, 80, 0.6);
}
.position2 button {
	display: block;
	cursor: pointer;
	background: rgba(76, 175, 80, 0);;
	border: none;
	padding: 18px;
}
.position2 button a{
	 text-decoration: none;
	 font-weight: 500px;
	 font-size: 20px;
	 text-align: center;
}

.relativeposition3 {
  position: relative;
  width: 600px;
  height: 200px;
  border: 3px solid #73AD21;
} 

.absoluteposition3 {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.content {
	overflow: scroll;
	height: 300px;
	width: 300px;
}
.sticky {
	background: yellow;
	width: 300px;
	position: sticky;
	top: 0;
}
.position4 {
	position: relative;
}
.position4 p {
	position: relative;
	padding-left: 50px;
	z-index: -2;
}
.imgposition4{
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: 0.5;
}
/*CSS position end*/





/*CSS Overflow start*/
#overflow1 {
  background: #eee;
  width: 200px;
  height: 80px;
  border: 1px dotted black;
  overflow: visible;
}
#overflow2 {
  background: #eee;
  width: 200px;
  height: 80px;
  border: 1px dotted black;
  overflow: hidden;
}
#overflow3 {
  background: #eee;
  width: 200px;
  height: 80px;
  border: 1px dotted black;
  overflow: scroll;
}
#overflow4 {
  background: #eee;
  width: 200px;
  height: 80px;
  border: 1px dotted black;
  overflow: auto;
}
/*CSS Layout - Overflow end/*/
/*CSS Layout - float and clear  start*/
#float1 {float: right;}
#float2 {float: none;}
#float3 {float: inherit;}

#float4 {clear: right;}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float5{
	float: left;
	width: 33.33%;
	padding: auto;
	text-align: center;
}

.float6{
	float: left;
	width: 33.33%;
	padding: 1%;
	box-sizing: border-box;
}

.float7 {
  float: left;
  background-color: #f1f1f1;
  width: 50%;
  text-align: center;
  height: 120px;
}

.float8 {
  float: left;
  background-color: #f1f1f1;
  width: 50%;
  text-align: center;
}
.float9 {
  	display: flex;
}


.float10 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.float10 li {
  float: left;
  /*background-color: #333;*/

}
.float10 li a {
	color: white;
	display: inline-block;
	text-align: center;
	padding: 20px 30px;
	font-size: 20px;
	text-decoration: none; /bo gach duoi
}
.float10 li a:hover{
	background: red;
}
.float10 .active {
	background: red;
}

.float11 {
	list-style-type: none;
	background: #333;
	margin: 0;
	padding: 0;
}
.float11 li{
	display: inline-block;
	text-align: center;
	font-size: 20px;
	padding: 20px 20px;
}
.float11 li a {
	text-decoration: none;
	color: white;
}
.float11 li:hover {
	background-color: red;
}
.float11 li .active {
	background-color: red;
}


.floatheader, .floatfooter {
	background-color: grey;
	padding: 15px;
	color: white;
}
.floatcolum {
	float: left;
	padding: 15px;
	box-sizing: border-box;
}
.floatmenu {
	width: 20%;
	/*overflow: hidden;*/
}
.floatcontent {
	width: 80%;
}

.floatmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*padding-bottom: 10px;*/
	/*overflow: hidden;*/
}
.floatmenu li {
	background: #33b5e5;
	/*padding: 15px 30px;*/
	margin-bottom: 8px;
/*overflow: hidden;*/
}
.floatmenu li a:hover{
	background: #0099cc;
}
.floatmenu li a {
	background: #33b5e5;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	padding: 15px 50px 15px 15px; 
}

/*CSS Layout - float and clear  end*/

/*CSS Pseudo-class start*/
.pseudoclass1:link{
	color: red;
}
.pseudoclass1:visited{
	color: green;
}
.pseudoclass1:hover{
	color: hotpink;
}
.pseudoclass1:active{
	color: blue;
}

.pseudoclass2 {
  display: none;
  background-color: yellow;
  padding: 20px;
}

.divseudoclass2:hover .pseudoclass2{
  display:block;
  color: red
}

.pseudoclass3 {
  color: blue;
} 
/*<!-- CSS Pseudo-class end -->*/
/*<!-- CSS Pseudo-element start -->*/
.pseudoelement1::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
.pseudoelement3::first-letter{
  color: #ff0000;
  font-size: xx-large;
}
.pseudoelement4::before{
	content: url(images/smiley.gif);
}
.pseudoelement5::after{
	content: url(images/smiley.gif);
}

.pseudoelement6 li::marker{
	color: red;
	font-size: 23px;
}
.pseudoelement7::selection {
	background: yellow;
	color: red;
}
/*<!-- CSS Pseudo-element end -->*/
/*CSS Opacity start*/

.opacity1{
	opacity: 0.5;
}
.opacity1:hover{
	opacity: 1;
}


.firstopacity2 {
  background: rgba(76, 175, 80, 0.1);
  padding: 10px;
}
.secondopacity2 {
  background: rgba(76, 175, 80, 0.3);
  padding: 10px;
}
.thirdopacity2 {
  background: rgba(76, 175, 80, 0.6);
  padding: 10px;
}
/*CSS Opacity end*/

/*CSS Transitions start*/
#transition1 {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}

#transition1:hover {
width: 300px;
}

#transition2 {
  width: 100px;
  height: 100px;
  background: blue;
  transition: background 2s, width 2s, height 4s;
}
#transition2:hover {
width: 300px;
height: 300px;
background: green;
}

.classtransition1 {
  width: 100px;
  height: 100px;
  background: red;
  transition:  width 2s;
}	

.classtransition1:hover {
	width: 300px;
}

#transition3 {transition-timing-function: ease;}
#transition4 {transition-timing-function: linear;}
#transition5 {transition-timing-function: ease-in;}
#transition6 {transition-timing-function: ease-out;}
#transition7 {transition-timing-function: ease-in-out;}
#transition8 {transition-delay: 1s;}

#transition9 {
  width: 100px;
  height: 100px;
  background: red;
  transition:  width 2s, height 2s, transform 2s;
}
#transition9:hover {
  width: 300px;
  height: 300px;
  background: green;
  transform: rotate(180deg);
}

/*CSS Transitions end*/
.animations1 {
	height: 100px;
	width: 100px;
	background: black;
	animation-name: exanimations1;
	animation-duration: 3s;
}
@keyframes exanimations1 {
	from {background: red;}
	to {background: yellow;}
}

.animations2 {
	height: 100px;
	width: 100px;
	background: black;
	animation-name: exanimations2;
	animation-duration: 5s;
}
@keyframes exanimations2 {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.animations3 {
	height: 100px;
	width: 100px;
	background: black;
	animation-name: exanimations3;
	animation-duration: 5s;
	position: relative;
}

@keyframes exanimations3 {
  0%   {background-color: red; left: 0px; top: 0px;}
  25%  {background-color: yellow; left: 200px; top: 0px;}
  50%  {background-color: blue; left: 200px; top: 200px;}
  75% {background-color: green; left: 0px; top: 200px;}
  100% {background-color: black; left: 0px; top: 0px;}
}
.animations4 {
	height: 100px;
	width: 100px;
	background: black;
	animation-name: exanimations4;
	animation-duration: 3s;
	animation-iteration-count: 3;
	position: relative;
}

@keyframes exanimations4 {
  0%   {background-color: red; left: 0px; top: 0px;}
  50%  {background-color: blue; left: 200px; top: 0px;}
  100% {background-color: black; left: 0px; top: 0px;}
}
.animations5 {
	height: 100px;
	width: 100px;
	background: black;
	animation-name: exanimations5;
	animation-duration: 4s;
	position: relative;
	animation-direction: alternate;
	animation-iteration-count: 4;
}

@keyframes exanimations5 {
  0%   {background-color: red; left: 0px; top: 0px;}
  25%  {background-color: yellow; left: 200px; top: 0px;}
  50%  {background-color: blue; left: 200px; top: 100px;}
  75% {background-color: green; left: 0px; top: 100px;}
  100% {background-color: black; left: 0px; top: 0px;}
}


.animations6 {
	width: 100px;
	height: 50px;
	background: red;
	margin-top: 6px;
	animation: moveanimations6 10s;
	position: relative;
}
@keyframes moveanimations6 {
	from {left: 0px;}
	to {left: 1000px;}
}
.animations6a {animation-timing-function: ease;}
.animations6b {animation-timing-function: linear;}
.animations6c {animation-timing-function: ease-in;}
.animations6d {animation-timing-function: ease-out;}
.animations6e {animation-timing-function: ease-in-out;}






/*CSS Box sizing start*/
.boxsizing1{
	width: 300px;
	height: 100px;
	border: 1px solid red;
}
.boxsizing2{
	width: 300px;
	height: 100px;
	padding: 20px;
	border: 1px solid green;
}
.boxsizing3{
	width: 300px;
	height: 100px;
	padding: 20px;
	border: 1px solid green;
	box-sizing: border-box;
}
/*CSS Box sizing end